# Thư mục cache của Python
__pycache__/
*.pyc

# Thư mục và file của VSCode
.vscode/

# File môi trường ảo
tf_env/
*.env

# File mô hình huấn luyện (model)
*.h5
*.keras
*.pkl
# File dữ liệu gốc (tùy theo dự án, có thể giữ lại nếu cần)
training_model/IMDb_Dataset_2.csv

# File cấu hình và lock không cần thiết nếu dùng pipenv
Pipfile.lock
