# Python cache
__pycache__/
*.py[cod]
*$py.class

# VSCode settings
.vscode/

# Virtual environments
env/
venv/
tf_env/
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Model files
*.h5
*.keras
*.pkl
*.joblib
*.sav

# Data files
*.csv
*.tsv
*.xlsx

# Logs and outputs
*.log
*.out

# OS files
.DS_Store
Thumbs.db

# Pipenv/Poetry
Pipfile.lock
poetry.lock

# Others
*.bak